@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

a {
    color: #a61717;
    text-decoration: none;
}

a[href^='http']:after {
    background: url('../img/external_link.svg') no-repeat;
    color: #202020;
    display: inline-block;
    height: 1em;
    width: 1em;
    content: '';
}

html {
    color: #202020;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

body {
    margin: 0;
    padding: 0;
}

sup {
    vertical-align: top;
    font-size: 0.75em;
}

.content {
    margin: auto;
}

@media (min-width: 80rem) {
    .content {
        padding: 1rem;
        width: 80rem;
    }
}

@media (min-width: 50rem) {
    .content {
        padding: 1rem;
        width: 50rem;
    }
}

.hero {
    font-size: 1.5em;
    text-align: center;
    margin: 1rem;
}

.hero-element {
    margin: .5rem;
}

.hero-element:first-child {
    font-weight: 900;
}

.header {
    height: 33vh;
}

.header.header-img {
    align-items: center;
    justify-content: center;
    background: url('../img/header.jpg') no-repeat center;
    background-size: 100% auto;
    box-shadow: 0 0 1rem #202020 inset;
    border-bottom: .3rem solid #202020;
    display: flex;
    width: 100%;
}

.header.header-text {
    text-shadow: 0 0 1rem;
    mix-blend-mode: multiply;
    height: 7vh;
    font-size: 7vh;
    pointer-events: none;
}

.material-icons {
    font-size: inherit;
}

.nav {
    width: 100%;
    z-index: 1000;
}

.nav.nav-wrapper {
    height: 3rem;
    background: #202020;
}

.nav.nav-button {
    background: #202020;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 3rem;
    outline: none;
    padding: 0;
}

.nav.nav-links {
    background: #202020;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1.5rem 0;
    text-align: center;
    left: 0;
    transition: all .56s ease-in-out;
    transform-origin: top;
    top: 3em;
    width: 100%;
}

.nav.nav-link {
    color: white;
    font-size: 1.5rem;
    transition: all .56s ease-in-out;
    transform-origin: top;
}

.nav.nav-links-shown .nav.nav-link {
    transform: rotateX(0deg);
}

.nav.nav-links-shown .nav.nav-link:nth-child(1) {
    transition-delay: .08s;
}

.nav.nav-links-shown .nav.nav-link:nth-child(2) {
    transition-delay: .12s;
}

.nav.nav-links-shown .nav.nav-link:nth-child(3) {
    transition-delay: .16s;
}

.nav.nav-links-shown .nav.nav-link:nth-child(4) {
    transition-delay: .20s;
}

.nav.nav-links-shown .nav.nav-link:nth-child(5) {
    transition-delay: .24s;
}

.nav.nav-links-shown .nav.nav-link:nth-child(6) {
    transition-delay: .28s;
}

.nav.nav-links-shown .nav.nav-link:nth-child(7) {
    transition-delay: .32s;
}

.nav.nav-links-shown {
    transform: rotateX(0deg);
    border-radius: 0 0 0 0;
}

.nav.nav-links-hidden {
    transform: rotateX(90deg);
    transition-delay: .08s;
    border-radius: 0 0 50% 50%;
}

.nav.nav-links-hidden .nav.nav-link {
    transform: rotateX(90deg);
}

.nav.nav-links-hidden .nav.nav-link:nth-child(1) {
    transition-delay: .24s;
}

.nav.nav-links-hidden .nav.nav-link:nth-child(2) {
    transition-delay: .20s;
}

.nav.nav-links-hidden .nav.nav-link:nth-child(3) {
    transition-delay: .16s;
}

.nav.nav-links-hidden .nav.nav-link:nth-child(4) {
    transition-delay: .12s;
}

.nav.nav-links-hidden .nav.nav-link:nth-child(5) {
    transition-delay: .08s;
}

.nav.nav-links-hidden .nav.nav-link:nth-child(6) {
    transition-delay: .04s;
}

.nav.nav-links-hidden .nav.nav-link:nth-child(7) {
    transition-delay: 0.0s;
}

code {
    font-family: 'Fira Mono', monospace;
    line-height: 1.25em;
    transition: all .56s ease-in-out;
}

pre {
    background: #2b303b;
    overflow-x: auto;
    margin-bottom: 0;
}

.button-code {
    border: none;
    color: #FFFFFF;
    background: #202020;
    font-size: 1.5em;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.hljs.folded {
    height: 8.75em;
    overflow: hidden;
}