@import "https://fonts.googleapis.com/css?family=Raleway";
@import "https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
.hljs-comment,
.hljs-quote {
  color: #667788; }

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6070; }

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #dd8877; }

.hljs-attribute {
  color: #eecc88; }

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #aabb88; }

.hljs-title,
.hljs-section {
  color: #5f819d; }

.hljs-keyword,
.hljs-selector-tag {
  color: #85678f; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-style: bold; }

.hljs {
  color: #fff;
  display: block; }

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding-bottom: 5rem; }
  @media (min-width: 80em) {
    body {
      width: 80rem; } }

.nav {
  border-bottom: 0.25rem solid #282a2e;
  width: 100%; }

.nav-link {
  color: #282a2e;
  font-size: 2rem;
  text-decoration: none; }
  .nav-link:visited {
    color: #282a2e; }

.language {
  background: #a54242;
  border-radius: 1rem;
  color: #282a2e;
  display: inline-block;
  margin: .5rem;
  padding: .5rem;
  text-decoration: none; }

.technology {
  background: #8c9440;
  border-radius: 1rem;
  color: #282a2e;
  display: inline-block;
  margin: .5rem;
  padding: .5rem;
  text-decoration: none; }

.concept {
  background: #5f819d;
  border-radius: 1rem;
  color: #282a2e;
  display: inline-block;
  margin: .5rem;
  padding: .5rem;
  text-decoration: none; }

.artifact-none {
  background: #282a2e;
  padding: 1rem; }
  .artifact-none a {
    color: #fff;
    display: block;
    font-family: "Material Icons";
    text-decoration: none;
    width: 100%;
    text-align: right; }
    .artifact-none a:visited {
      color: #fff; }

.artifact-all {
  background: #282a2e;
  padding: 1rem; }
  .artifact-all > span {
    animation: spin 1s ease-in-out infinite;
    color: #fff;
    display: block;
    font-family: 'Material Icons';
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    width: 1.5rem; }
  .artifact-all a {
    color: #fff;
    display: block;
    font-family: "Material Icons";
    text-decoration: none;
    width: 100%;
    text-align: right; }
    .artifact-all a:visited {
      color: #fff; }
  .artifact-all > div > pre {
    line-height: 1rem;
    margin: 0;
    overflow-x: auto; }

.artifact-some {
  background: #282a2e;
  padding: 1rem; }
  .artifact-some a {
    color: #fff;
    display: block;
    font-family: "Material Icons";
    text-decoration: none;
    width: 100%;
    text-align: right; }
    .artifact-some a:visited {
      color: #fff; }
  .artifact-some > span {
    animation: spin 1s ease-in-out infinite;
    color: #fff;
    display: block;
    font-family: 'Material Icons';
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    width: 1.5rem; }
  .artifact-some > div > pre {
    line-height: 1rem;
    margin: 0;
    overflow-x: auto; }

@keyframes spin {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

.section-headline {
  display: inline-block; }

.feature {
  margin: 0 0.5rem; }

.perspective {
  background: #282a2e;
  border-radius: 1rem;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin: .5rem;
  padding: .5rem;
  text-decoration: none; }

.toc > li > a {
  color: #282a2e;
  text-decoration: none; }
  .toc > li > a:visited {
    color: #282a2e; }
