@import "https://fonts.googleapis.com/css?family=Raleway";
@import "https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
.hljs-comment,
.hljs-quote {
  color: #667788; }

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6070; }

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #dd8877; }

.hljs-attribute {
  color: #eecc88; }

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #aabb88; }

.hljs-title,
.hljs-section {
  color: #5f819d; }

.hljs-keyword,
.hljs-selector-tag {
  color: #85678f; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-style: bold; }

.hljs {
  color: #fff;
  display: block; }

body {
  background: #ddd;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding-bottom: 5rem; }
  @media (min-width: 80em) {
    body {
      width: 80rem; } }

.nav {
  border-bottom: 0.25rem solid #282a2e;
  width: 100%; }

.nav-link {
  color: #282a2e;
  font-size: 2rem;
  text-decoration: none; }
  .nav-link:visited {
    color: #282a2e; }

.contribution-headline {
  text-align: center; }

.section {
  background: #fff;
  border-radius: .5rem;
  margin: .5rem;
  padding: .5rem; }

.section-table {
  display: flex; }
  .section-table > div {
    align-self: top;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5rem; }
    .section-table > div > span {
      text-align: center; }
      .section-table > div > span > a {
        color: #282a2e;
        text-decoration: none; }
        .section-table > div > span > a:visited {
          color: #282a2e; }
    .section-table > div > span:first-child {
      color: #fff;
      margin-bottom: 0.5rem; }
    .section-table > div > span:not(:first-child) {
      background: #ddd;
      border-radius: 1rem;
      font-weight: 900;
      margin: 0.25rem;
      padding: 0.25rem; }

.perspectives {
  background: #294f48; }

.features {
  background: #519612; }

.languages {
  background: #bc9326; }

.technologies {
  background: #d57c3b; }

.concepts {
  background: #cf4844; }

.projection-capture > img {
  max-width: 100%; }

.artifact-none {
  background: #282a2e;
  padding: 1rem;
  margin-top: 1rem; }
  .artifact-none a {
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center; }
    .artifact-none a:visited {
      color: #fff; }
    .artifact-none a:after {
      content: "open_in_new";
      font-family: "Material Icons";
      padding-left: 0.25rem; }

.artifact-all {
  background: #282a2e;
  padding: 1rem;
  margin-top: 1rem; }
  .artifact-all > span {
    animation: spin 1s ease-in-out infinite;
    color: #fff;
    display: block;
    font-family: 'Material Icons';
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    width: 1.5rem; }
  .artifact-all a {
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center; }
    .artifact-all a:visited {
      color: #fff; }
    .artifact-all a:after {
      content: "open_in_new";
      font-family: "Material Icons";
      padding-left: 0.25rem; }
  .artifact-all > div > pre {
    line-height: 1rem;
    margin: 0;
    overflow-x: auto; }

.artifact-some {
  background: #282a2e;
  padding: 1rem;
  margin-top: 1rem; }
  .artifact-some a {
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center; }
    .artifact-some a:visited {
      color: #fff; }
    .artifact-some a:after {
      content: "open_in_new";
      font-family: "Material Icons";
      padding-left: 0.25rem; }
  .artifact-some > span {
    animation: spin 1s ease-in-out infinite;
    color: #fff;
    display: block;
    font-family: 'Material Icons';
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    width: 1.5rem; }
  .artifact-some > div > pre {
    line-height: 1rem;
    margin: 0;
    overflow-x: auto; }

@keyframes spin {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

.section-headline {
  display: inline-block; }

.feature {
  margin: 0 0.5rem; }

.perspective {
  background: #282a2e;
  border-radius: 1rem;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin: .5rem;
  padding: .5rem;
  text-decoration: none; }

.toc > li > a {
  color: #282a2e;
  text-decoration: none; }
  .toc > li > a:visited {
    color: #282a2e; }
